In [20]:
# Telesco python series
str="Avinash"
lists=[1,23,4,4,4,4,2]
tuple=("a","v","i")
set={"Avinash","Akash"}
dictionary={"name":"Avinash","rollno":124}
print(lists)

[1, 23, 4, 4, 4, 4, 2]

In [31]:
#x=["apple","banana","cherry"] #list
x=("apple","banana","cherry") #tuple
print(x)
print(x[1])
x.append("mango")
print(x)

('apple', 'banana', 'cherry')
banana

AttributeError: 'tuple' object has no attribute 'append'

In [17]:
#data types 
# x="Avinash Khamanekar" #str
# x=20 #int 
# x=20.5 #float
# x=1j   # complex

#x={"name":"Avinash","rollno":124} #dic
#x=frozenset({"apple","banana","cherry"})  
#x=True  #bool
x=b"Avinash"   #bytes
x=byte
x=1101111111111


print(x)

NameError: name 'byte' is not defined

In [27]:
#4 variable
name="Youtube"
print(name[1])     # o
print(name[-1])    #  e
print(name[0:])     # all 
print(name[:4])
print(name[2:5])
print("my "+name)
print(len( " length is "+name))
print(len(name))

o
e
Youtube
Yout
utu
my Youtube
18
7

In [ ]:
name="Avinash"
print(name[0:])
print(name+" Khamanekar")

Avinash
Avinash Khamanekar

In [ ]:
#5 list 

nums=[25,12,36,95,14]
print(list)
print(list[4])
print(list[-1])
print(list[0:])
print(list[:4])


names=["Avinash ", "akash","vijay"]
print([names])

#list ar emuteable
# appened
#insert
nums.insert(2,77)
#remove
nums.remove(14)
#pop
nums.pop(1)
#del mul

del nums[2:]
# add mul value
nums.extend([29,12,14,36])
print(min(nums))
print(nums)

print(sum(nums))
print(max(nums))
nums.sort()
print(nums)

<class 'list'>
list[4]
list[-1]
list[slice(0, None, None)]
list[slice(None, 4, None)]
[['Avinash ', 'akash', 'vijay']]
12
[25, 77, 29, 12, 14, 36]
193
77
[12, 14, 25, 29, 36, 77]

In [ ]:
#6 tuple

#tapule is immuteable
tup=(21,36,14,25)



# set 
#UNIQUE VALUE
s={22,24,25,14,25,55}
print(s)
s.remove(22)
print(s)
#s.update(22)
print(s)

{22, 55, 24, 25, 14}
{55, 24, 25, 14}
{55, 24, 25, 14}

In [ ]:
#7 dictonaries 
# diiferent keys 
data={name:"Avinash",1:"Navin"}
print(data[name])
print(data.get(1))
print(data.get(3,"Not found"))


keys=['navin',"kiran","harsh"]
values=["Python","java","Js"]
data=dict(zip(keys,values))
print(data)
del data["harsh"]
print(data)

Avinash
Navin
Not found
{'navin': 'Python', 'kiran': 'java', 'harsh': 'Js'}
{'navin': 'Python', 'kiran': 'java'}

In [ ]:
#9MORE ABOUT VARIABLE

num=5
print(id(num))
name=("Avinash")
print(id(name))
# same  name value same address
a=10
b=10
print(id(a))
print(id(b))
pi=3.14
type(pi)

2245312315760
2245398803184
2245312315920
2245312315920

float

In [ ]:
#(10)----> data types 
#  None 
# numeric type-int,flost,complex,bool
#LIST   [4,3,345,5,]
# Tuple   ()
# Set  {}
# String     ""
# Range   (range(10) )
print(range(10))
print(list(range(10)))

# Dictionary  (key , value)


a=13
b=complex(a)
print(b)
c=float(a)
print(c)
d=bool(a)
print(d)
print(10<9)
print(bool(1))
print(bool(0))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
(13+0j)
13.0
True
False
True
False

In [ ]:
#11-----> Arithmetic opretor
2+3
21-3
1*3
5/1
5//1
x=2
x+=2
print(x)
x*=3
print(x)
c,d=input(),input()
print("Sum is",c+d)



#unary opretor 
n=7

n=-7
print(n)

# retional opretors
'''5<7
4>3
a=6
a==b
a>=b
a<=b
a!=b'''



#LOGICAL OPRETORS
#OR AND NOT
X=5
Y=4

print(X>Y and Y<X)
print(X>Y and Y>X)
print(X>Y or Y<X)
print(X>Y or Y>X)
print(not(X>Y and Y<X))

4
12
Sum is
-7
True
False
True
True
False

In [18]:
#12----->binary  divide 2
#  , decimal   
# ,octal, 8
#  hexadecimal 16
print(25)
print(bin(25))
print(oct(25))
print(hex(25))

25
0b11001
0o31
0x19

In [ ]:
#13-------> swap to values 
a=5
b=6
temp=a
a=b
b=temp
#a,b=b,a
print(a)
print(b)

6
5

In [ ]:
#14 IDLE commend

In [ ]:
#15------->Bitwise operators 
 #complement opratot
~1100
#2's comp,lement
~(~1100)
# logical opretor
bin(12)
#ex or

'0b1100'

In [ ]:
#16 mathematical function
# ask fo r things .
import math as m 
#import math 
# from math import sqrt,pow
x=math.sqrt(25)
print(x)
# floor and ceil
print(math.floor(2.6))
print(math.ceil(2.6))
print(math.pow(3,2))
print(math.pi)
print(m.e)

5.0
2
3
9.0
3.141592653589793
2.718281828459045

In [ ]:
#  working with pycharm

In [ ]:
# input from user 
x= int(input("Enter the first value "))
y= int(input(" Enter the second value"))
z=x+y
print(" The sum is ",z)
ch=input("Enter ch")[0]
print(ch)

# evaluate function
result=eval(input(" enter expresstion"))
print(result)

 The sum is  2
a
22

In [ ]:
# if elif else 
# arithematic operation conditons 
no=int(input(" Enter a number"))
if no %2 ==0:
    print(" no is even")
elif(no==0):
          print("NO is zero")
else:
    print("its odd number")

 no is even

In [ ]:
#20 loops
#while loop
i=1 
j=3 #5
while i<=5:#i>=1
    print("Telusko",end="")
    i=i+1
    while j<=5:
        print("rocks",end="")
        j=j+1
     #i=i-1

TeluskorocksrocksrocksTeluskoTeluskoTeluskoTelusko

In [ ]:
i=1
while i<=5:
    print("Avinash")
    i+=1

Avinash
Avinash
Avinash
Avinash
Avinash

In [ ]:
for i in range(1,6):
    print("Avinash")

Avinash
Avinash
Avinash
Avinash
Avinash

In [ ]:
#for loops 
x=[1,3,4,5,6,7,88,56]
#for i in x:
for x in range(20,10,-1) :    # start end itretion 
    print(x)

20
19
18
17
16
15
14
13
12
11

In [ ]:
# if inside a for 
for i in range(1,21):
    if(i%5!=0):
        print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19

In [ ]:
#22 break 
av=5
x=int(input(" how many candi you want? "))
i=1
while i<=x:
    if i>av:
        print(" Out of stock")
        break
    print("Candy")
    i+=1
print("Bye")

Candy
Candy
Candy
Candy
Candy
Bye

In [ ]:
x=int(input("How many Avinash you want to print"))
i=1
while i<=x:
    if x==3:
        print("You are entering value 3 ")
        break
    print("Avinash")
    i+=1

You are entering value 3

In [ ]:

#ALL NTHE VALUES FROM 1 TO  100

for i in  range(1,101):
    #if i%3==0 or i%5==0:
     #   continue
    
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
# print even  no in 1 to 100
for i in  range(1,101):
    if i%2!=0:
        pass
    else:
     print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
#22.1 break , pass , continue
for i in range(6):
    if i==3:
        continue   #break then don't rub program 
                   # continue in that case print value expect that
                   #pass is make that pass the value
    print(" Hello",i)
def fun():
    print( "pass")
a=5

 Hello 0
 Hello 1
 Hello 2
 Hello 4
 Hello 5

In [ ]:
#24--------> printing patterns 
# print("# # # #")
# print("    #  ")
# print("  #    ")
# print("# # # #")
for i in range(4):
    for j in range (4-i):
        print("#",end=' ')
    print()
    #count

# # # #
# # #
# #
#

In [ ]:
#find prime number 
no=int(input("Enter a number"))
for i in range(2,no):
    if no%i==0:
        print("Not prime")
        break
else:
    print("prime")

prime

In [ ]:
no=int(input("Enter a number"))
count=0
for i in range(0,no):
    
    count=count+1
    print(i)
print(count)

0
1
2
3
4
5

In [ ]:
#Array 
#array have same data in one array
#import array as arr
from array import *
vals= array("i",[1,3,-4,56,65,34])      #type , array 
print(vals)

print(vals.buffer_info())
vals.reverse()
print(vals)
print(vals[0])

array('i', [1, 3, -4, 56, 65, 34])
(1550720656688, 6)
array('i', [34, 65, 56, -4, 3, 1])
34
34
65
56
-4
3

In [ ]:
from array import *
#vals= array("i",[1,3,-4,56,65,34])  
vals=array("u",["a","f","k","e"])    #type , array 
print(vals)
for i in range(len(vals)):
    print(vals[i])

array('u', 'afke')
a
f
k
e

In [ ]:
from array import *
vals= array("i",[1,3,-4,56,65,34])      #type , array 
newArr=array(vals.typecode,(a for a in vals))
print(newArr)
for e in newArr:
    print(e)
i=0
while i<len(newArr):
    print(newArr[i])
    i+=1

array('i', [1, 3, -4, 56, 65, 34])
1
3
-4
56
65
34
1
3
-4
56
65
34

In [ ]:
# 27------> create array enter a value from user 
from array import  *
arr = array("i",[])
n=int(input("Enter the length of array"))
for i in range(n):
    x=int(input("Enter the next value"))
    arr.append(x)
print(arr)

array('i', [23, 23, 43])

In [ ]:
# above same code creaate for list 
arr=[]
n=int(input("Enter the length of list"))
for i in range(n):
    x=input("Enter the next value")
    arr.append(x)
print(arr)

['fa', 'asdf', 'sadf']

In [ ]:
# print index value by manual
from array import  *
arr = array("i",[3,43,543,23,34,33])
val =int(input("search"))
k=0
for e in arr:
    if e==val:
        print(k)
        break
    k+=1
print(arr.index(val))

2
2

In [ ]:
# enter index and show value on that topic
# print index value by manual
from array import  *
arr = array("i",[3,43,543,23,34,33])
ind =int(input("search"))

print(arr[ind])

3

In [ ]:
# Numpy 
#Array ----> single dimentional array 
#      ----->Two dimentional array. but phthon have not 2d
# how do  use 2d
# so we can use numpy
from numpy import *
arr=array([1,2,3,4,5])
print(arr)

TypeError: Field elements must be 2- or 3-tuples, got '1'

In [ ]:
# continution after numpy , array

In [ ]:
# function 
# inbulid function 
def great():
    print("Hello,Good morning")
great()

Hello,Good morning

In [ ]:
# function with parameter 
def great(name):
    print("Hello,Good morning",name)
great("Avinash")

Hello,Good morning Avinash

In [ ]:
# add to numbers with return
def add(a,b):
    return a+b
add(4,5)

9

In [ ]:
def add(a,b):
    return a+b
result=add(4,5) 
print(result)

9

In [ ]:
# return multiple values
def add(a,b):
    return a+b,a-b
    
add(4,5)

(9, -1)

In [ ]:
#  -------> function arguments 
#pass br reference 
# pass by vaalue
def update(x):
    x=8
    print(x)
a=10
update(a)
print(a)

0
10

In [ ]:
# tyes of aguments
def add(a,b):
    print(a+b)

add(5,6)

11

In [ ]:
# by postion , sequence
def person(name,age):
    print(name, age)
person(21,"Avinash")

21 Avinash

In [ ]:
# default value
def person(name,age=18):
    print(name, age)
person("Avinash")

Avinash 18

In [ ]:
# addtion with tuple
def add(a,*b):
    print(a)
    print(b)

add(5,6,3,5,6,7)

In [ ]:
#Keywords
# single * for multiple variable
# double ** for multiple variables with key words
def person(name,**data):
    print(name)
    print(data)
    for i,j in data .items():
        print(i,j)
person("Avinash",age=21,city="Kalamb",mono=9822500813)

Avinash
{'age': 21, 'city': 'Kalamb', 'mono': 9822500813}
age 21
city Kalamb
mono 9822500813

In [ ]:
#Global vaiables 
# scope
a=10 # global variable  
def fun():
    a=15  # local variable
    #--------> if inside function not declare then global variable print

    print(a)
print(a)
fun()

10
10

In [ ]:
# set global variable

a=10 # global variable  
def fun():
    #global a
    a=15  
    print(a)
print(a)
fun()

10
15

In [ ]:
# pass a list 
# 
def count(lis):
    even=0
    odd=0
    for i in lis:
     if i%2==2:
        even+=1
     else:
        odd=+1

    return even, odd

lis=[25,23,54,34,54,65,87,46]
even, odd=count(lis)
print(even,odd)

0 1

In [ ]:
# fibonacci series
# 0 1 1 2 3 5 8 13 21 33.......
n=input("Enter value of n") 
def fib(n):
  
  a=0
  b=1
  if n==1:
    print(a)
  else:
      print(a)
      print(b)
      for i in range(2,n):
         c=a+b
         a =b
         b=c
         print(c) 
fib(n)

0
1

TypeError: 'str' object cannot be interpreted as an integer

In [ ]:
# factorial of number 
def fact(n):
    f=1   
    for i in range(1,n+1):
       f=f*i
    return f 
x=4

result=fact(x)
print(result)

24

In [ ]:
#recursion 
#what is recursion ---->
#   
#                        you are calling from itself
import sys
sys.setrecursionlimit(180)
print(sys.getrecursionlimit())
i=0
def greet():
    print("Hello",i)
    greet()
greet()

In [ ]:
# Recurtion = function calling itself
# factorial byu using recursion
def fact(n):
    if n==0:
        return 1
    return n* fact(n-1)  # function calling itself
result= fact(5)
print(result)

120

In [ ]:
#Anonymous function 
#Lambda
#def square(a):
  #  return a*a
f=lambda a: a*a
result = f(5)
print(result)

25

In [ ]:
# by using anonymous function 
add=lambda a,b :a+b
addition =add(2,3)
print(addition)

5

In [ ]:
#lamada ---> anonoymous function 
#  filter()
#  map()
#  reduce()
nums= [3,2,6,8,4,7,9]
evens=list(filter(lambda n:n%2==0,nums))     # function ,itereation
print(evens)

[2, 6, 8, 4]

In [ ]:
# decoderators-------------->
def div(a,b):
    print(a/b)
def smartfun(func):
    def inner(a,b):
        if a>b:
            a,b=b,a
            return func(a,b)
    return inner
div=smartfun(div)
div(2,4)


XXXX

In [ ]:
#--------- modules ------
# debuing --- removinig bugs 
# coding ----- add bug 

# modules --- make it smalal parts 


#abcd
#a b c d
from demo import *
a=9
b=7
c=add(a,b)
print(c)
print(sub(a,b))

16
2

In [ ]:
# SPECIAL VARIABLES

Hello

In [ ]:
#--  OBJECT ORIENTED PROGRAMMING
#-- FUNCUTIONAL PROGRAMMING
#-- PROCEDURE PROGRAMMING
#  --- OBJECT  EX MAN , EMPLOYEE
#  --- ATTRIBUTE EX HEIGHT, COMANY 
# --  BEHAVIOUR EX I'M DANCING , ACTIONS DEFINE YOUR BEHAVIOUR
# --- METHODS --- IN OOP FUNCTIONS IS CALLED METHODS 
# CENCEPT 
# 1 CLASSES 
# ---- OBJECT 
# ------- ENCAPSULATION
#------------ POLYMORPHISM
#-------------------ABSTRCTION

In [ ]:
# class  is design object is real
#  object
class computer :
    def config(self):
        print(" i5 ,16gb ,1tb") 
comp=computer()
comp.config()
a=computer()
a.config()

 i5 ,16gb ,1tb
 i5 ,16gb ,1tb

In [ ]:
# ___init__ method 
class computer :
    def __init__(self):  # init method don't need to call
        print(" it is init it print on the object")
        
    def config(self):
        print(" i5 ,16gb ,1tb") 
comp=computer()
comp.config()
a=computer()
a.config()

 it is init it print on the object
 i5 ,16gb ,1tb
 it is init it print on the object
 i5 ,16gb ,1tb

In [ ]:
# init with passing arguments
class computer :
    def __init__(self,cpu,ram):  # init method don't need to call
        self.cpu=cpu
        self.ram=ram
        
    def config(self):
        print("Config is ",self.cpu, self.ram) 
comp=computer('i5',16)
comp.config()

Config is  i5 16
Config is  Ryzen 8

In [ ]:
class library:
    def __init__(self,bno,bname):
        self.bno=bno
        self.bname=bname
    def status_of_book(self):
        print("Book name is {} and number is".format(self.bname,self.bno))
book=library(" Rich Dad & Poor Dad",32)
book.status_of_book()

Book name is 32 and number is

In [3]:
for i in range(1,11):
    print(i,end="")

1 2 3 4 5 6 7 8 9 10